/* Añadir estilos Bootstrap */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* Personalizar estilos específicos de la aplicación */
body {
    padding: 20px;
}

h2 {
    color: #ff00bf;; /* Azul de Bootstrap */
}

form {
    margin-top: 20px;
}

/* Estilos para la tabla de gastos */
table {
    width: 100%;
}

table th {
    background-color: #ff00bf;;
    color: white;
}

/* Estilizar botón de agregar gasto */
button[type="submit"] {
    background-color: #28a745; /* Verde de Bootstrap */
    color: white;
}

/* Estilos para la sección de estadísticas */
h3 {
    margin-top: 20px;
}

.green-background {
    background-color: green;
  }
  
  .yellow-background {
    background-color: yellow;
  }
  

  /* Estilos para la página de inicio */
#home {
    position: relative;
    height: 100vh;
    text-align: center;
    color: white;
    background: url('imgs/desk-593327_1920.jpg') center/cover no-repeat;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
}

button {
    background-color: #ff00bf;;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

/* Estilos para la imagen de fondo */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* Estilos para centrar el contenido de la página de inicio */
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh;
    text-align: center;
    color: white;
    background: url('background.jpg') center/cover no-repeat;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px; /* Espacio entre el título y el párrafo */
}

p {
    font-size: 18px;
    margin-bottom: 20px; /* Espacio entre el párrafo y el botón */
}

button {
    background-color: #ff00bf;;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}


/* Estilos para el formulario de registro de gastos */
form {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 15px;
}

button[type="button"] {
    background-color: #ff00bf;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

/* Estilo para el botón "Cancelar" */
button[type="button"].cancel-button {
    background-color: #dc3545;
}

button[type="button"].cancel-button:hover {
    background-color: #c82333;
}

/* Estilo para el botón "Modificar" */
button[type="button"].modify-button {
    background-color: #ffc107;
}

button[type="button"].modify-button:hover {
    background-color: #d39e00;
}
